@media (max-width: 720px) {
  .help-box {
    padding: 5vw;
  }
  .help-box p {
    font-size:3vw;
  }

  .help-box .letter {
    height: 6.99vw;
    width: 6.99vw;
    font-size: max(10px, 3.5vw);
  }

  .header {
    padding: 0 5px;
  }

  .board .attempt {
    height: min(14.078vw, 84px);
  }

  .board .letter {
    width: min(14.078vw, 84px);
  }

  .keyboard {
    padding: 0 5px;
    gap: .30em;
  }
  .keyboard button {
    font-size: 4vw;
  }
}