@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background: #778898;
  font-family: "Mitr", sans-serif;
  transition: 0.2s background ease-in-out;
}

.container {
  position: relative;
  max-width: 720px;
  margin: 0px auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7vh;
}

.header div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5vh;
  width: 3.5vh;
  background: inherit;
  border: 2px solid #b7aeb4;
  border-radius: 20%;
  margin: 0 0.25vh;
  color: #b7aeb4;
  cursor: pointer;
}

.header span {
  display: flex;
  align-items: center;
}

.header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 3.5vh;
}

#help-button {
  background: url("../imgs/doubt-icon.ico") no-repeat;
  background-size: 80%;
  background-position: 50%;
}

#stats-button {
  background: url("../imgs/stats-icon.ico") no-repeat;
  background-size: 80%;
  background-position: 50%;
}

#random-button {
  background: url("../imgs/random-icon.ico") no-repeat;
  background-size: 100%;
}

#color-button {
  background: url("../imgs/color-icon.ico") no-repeat;
  background-size: 80%;
  background-position: 50%;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  display: flex;
  justify-content: center;
  width: 45vh;
  height: 57vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board .attempt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: min(11vh, 84px);
  gap: .7vh;
  margin-bottom: 10px;
}

.board #active .letter {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: max(min(.6vw, 6px), min(.6vh, 6px)) solid #005073;
  background: inherit;
  border-radius: 10%;
  color: #fff;
  font-weight: 600;
  font-size: 5vh;
  opacity: 1;
}

.board #active .current {
  border-bottom: max(min(calc(.6vw * 2), 12px), min(calc(.6vh * 2), 12px)) solid #005073;
}

.board #active .animated {
  animation: typing-letter-animation 0.2s ease-in-out;
}


.board .letter {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 84px;
  background: #3f618466;
  border-radius: 13%;
  opacity: 0.4;
  color: #fff;
  font-weight: 500;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.keyboard {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: min(100em/2.15, 25vh);
  font-size: min(4rem, calc(min(100em/2.15, 25vh) / 14));
  flex-shrink: 0;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(32, 1fr);
  gap: .40em;
}

.keyboard button {
  touch-action: manipulation;
  height: min(calc(7.66vh + 2), 75px);
  width: min(8.1vw, 60px);
  outline: none;
  background: #005073;
  grid-column: span 3;
  display: flex;
  font-size: 1.7em;
  line-height: 1em;
  justify-content: center;
  align-items: center;
  border-radius: 8%;
  font-weight: 500;
  font-family: 'Mitr', sans-serif;
  cursor: pointer;
  border: none;
  color: #FAFAFF;
  transition: background 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.keyboard .not-in {
  opacity: 0.5;
}

#key-a {
  grid-column: 2 / span 3;
}

#backspace {
  grid-column: 30 / span 3;
}

#backspace img {
  width: 1em;
}

#key-z {
  grid-column: 3 / span 3;
}

#enter {
  width: min(23vw, 177px);
  grid-column: 25 / span 8;
}

.not-word {
  transform: translateX(0);
  animation: not-word-animation 0.4s backwards ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.board .incorrect,
.board .place,
.board .correct {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
  font-size: 5vh;
}

.board .incorrect {
  background: #191516 !important;
  opacity: 0.8;
}

.board .place {
  opacity: 1;
  background: #D3AD69 !important;
}

.board .correct {
  opacity: 1;
  background: #3AA394 !important;
}

@keyframes not-word-animation {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(-1em);
  }

  30% {
    transform: translateX(1em);
  }

  50% {
    transform: translateX(-1em);
  }

  70% {
    transform: translateX(1em);
  }

  80% {
    transform: translateX(-1em);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes typing-letter-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2)
  }

  100% {
    transform: scale(1)
  }
}

/* @keyframes flip {
  0% {
    background-color: transparent;
    border: 0.125em solid #4C4347;
    transform: perspective(200px) rotateY(0deg);
  }

  50% {
    background-color: transparent;
    border: 0.125em solid #4C4347;
    transform: perspective(200px) rotateY(90deg);
  }

  50% {
    transform: perspective(200px) rotateY(-90deg);
    background-color: var(--color);
    border: none;
  }

  50% {
    background-color: var(--color);
    border: none;
  }

  100% {
    transform: perspective(200px) rotateY(0deg);
    background-color: var(--color);
  }

} */